<template>
    <div class="mt-5">
        <b-container>
            <b-row>
                <b-col md="4">
                    <b-form-group  label="Cedula" label-for="cedula">
                        <b-form-input
                            id="cedula"
                            v-model="form.cedula_profesor"
                            type="number"
                            required
                            placeholder="Cedula"
                        ></b-form-input>
                    </b-form-group>
                </b-col>
                 <b-col md="4">
                    <b-form-group  label="Nombre" label-for="nombre">
                        <b-form-input
                            id="nombre"
                            v-model="form.nombre_profesor"
                            type="text"
                            required
                            placeholder="Ingrese el nombre"
                        ></b-form-input>
                    </b-form-group>
                </b-col>
                 <b-col md="4">
                    <b-form-group label="Apellidos" label-for="apellidos">
                        <b-form-input
                            id="apellidos"
                            v-model="form.apellido_profesor"
                            type="text"
                            required
                            placeholder="Ingrese los apellidos"
                        ></b-form-input>
                    </b-form-group>
                </b-col>
            </b-row>
            <b-row>
                <b-col md="4">
                    <b-form-group label="Edad" label-for="edad">
                        <b-form-input
                            id="edad"
                            v-model="form.edad_profesor"
                            type="number"
                            required
                            placeholder="Ingrese la edad"
                        ></b-form-input>
                    </b-form-group>
                </b-col>
                <b-col md=4>
                    <b-form-group label="Email" label-for="email">
                        <b-form-input
                            id="email"
                            v-model="form.email_profesor"
                            type="email"
                            required
                            placeholder="Ingrese el email"
                        ></b-form-input>
                    </b-form-group>
                </b-col>
            </b-row>
            <b-row>
                <b-button variant="success" @click="enviarDatos">Enviar</b-button>
            </b-row>

        </b-container>
      

    </div>
</template>

<script>
import axios from 'axios'
export default {
    name:'formTeacher',
    data(){
        return{
            form:{
                cedula_profesor:"",
                nombre_profesor:"",
                apellido_profesor:"",
                edad_profesor: "",
                email_profesor: ""
            }
        }
    },
    methods:{
        enviarDatos(){
            axios
            .post('http://localhost:3000/profesores/', this.form)
            .then(data => {
                console.log(data.data)
               
            })
            .catch(error => {
                console.log(error)
            })
        }
    }
}
</script>