<template>
    <div class="mt-5">
        <b-container>
            <List :array="estudiantes"></List>
        </b-container>
    </div>
</template>
<script>
import List from '@/components/List.vue'
import {mapState, mapMutations} from 'vuex'

export default {
    name: 'StudentsList',
    components:{
        List
    },
    mounted(){
        this.$store.dispatch('obtenerEstudiantes')
    },
    computed:{
        ...mapState(['estudiantes'])
    }
}
</script>