<template>
    <List :array="materias"></List>
</template>

<script>
import List from '@/components/List.vue'
import {mapState, mapMutations} from 'vuex'

export default {
    name: 'SubjectsList',
    components:{
        List
    },
    mounted(){
        this.$store.dispatch('obtenerMaterias')
    },
    computed:{
        ...mapState(['materias'])
    }    
}
</script>