<template>
    <List :array="profesores"></List>
</template>
<script>
import List from '@/components/List.vue'
import {mapState, mapMutations} from 'vuex'

export default {
    name: 'UsersList',
    components: {
        List
    },
     mounted(){
        this.$store.dispatch('obtenerProfesores')
    },
    computed:{
        ...mapState(['profesores'])
    }
}
</script>