<template>
    <div class="mt-5">
        <b-container>
            <b-table striped hover :items="array"></b-table>
        </b-container>
    </div>
</template>
<script>
import {mapState, mapMutations} from 'vuex'
export default {
    
    name:'List',
    props: ['array'],
    data() {
      return {
        
      }
    },
   
}
</script>