<template>
    <div>
        <b-navbar toggleable="lg" type="dark" variant="info">
            <b-container>
                <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>
             <b-navbar-brand href="#">SCHOOL</b-navbar-brand>
             <b-collapse id="nav-collapse" is-nav>
                <b-navbar-nav class="ml-auto">
                <b-nav-item-dropdown text="Estudiantes" right>
                    <b-dropdown-item :to="{}">Registrar</b-dropdown-item>
                    <b-dropdown-item :to="{name: 'students'}">Listar</b-dropdown-item>
                </b-nav-item-dropdown>
                <b-nav-item-dropdown text="Profesores" right>
                    <b-dropdown-item :to="{name:'FormTeacher'}">Registrar</b-dropdown-item>
                    <b-dropdown-item :to="{name:'UserList'}">Listar</b-dropdown-item>
                </b-nav-item-dropdown>
                <b-nav-item-dropdown text="Materias" right>
                    <b-dropdown-item href="#">Registrar</b-dropdown-item>
                    <b-dropdown-item :to="{name: 'subjects'}">Listar</b-dropdown-item>
                </b-nav-item-dropdown>
             </b-navbar-nav>
             </b-collapse>
            </b-container>
            
        </b-navbar>
    </div>
</template>

<script>
export default {
    name: 'Nav'
}
</script>